#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl={{ repo_url }}/{{ distro }}/AppStream

%packages
@^server-product-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='gb'
# System language

lang en_GB.UTF-8
 
# Network information
network  --device={{ item.interface }} --hostname={{ item.name }}.{{ domain_name }} --bootproto=static --ip={{ item.ip }} --netmask={{ ipv4netmask }} --gateway={{ ipv4gateway }} --nameserver={{ ipv4nameserver }} --ipv6=auto --activate

# Use network installation
url --url="{{ repo_url }}/{{ distro }}"

# Run the Setup Agent on first boot
firstboot --disable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone Europe/London --isUtc

# Root password
rootpw --iscrypted $6$SRBcMlVzw0z9r/9C$NFO8NActAn7wsNVrx7/GROi7PkGBEN7neQlMQhIbpQthzQIjEmFf8KvSPphxS4xM3IEUzN71uhpQXIdg4SMv91 
auth --passalgo=sha512 --useshadow

firewall --enabled --ssh
selinux --enforcing
bootloader --append="rhgb quiet crashkernel=auto"
skipx
reboot

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


%post --log=/root/post.log
/usr/bin/mkdir -p /root/.ssh
/usr/bin/curl {{ webserver_url }}/postinstall/authorized_keys > /root/.shh/authorized_keys
/usr/bin/chmod 0700 /root/.ssh
/usr/bin/chmod 0600 /root/.ssh/authorized_keys
%end
