#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=http://{{ reposerver }}:{{ http_port }}/repos/{{ distro }}/AppStream

%packages
@^server-product-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='gb'
# System language

lang en_GB.UTF-8
 
# Network information
network  --device={{ item.interface }} --hostname={{ item.name }}.{{ domain_name }} --bootproto=static --ip={{ item.ip }} --netmask={{ item.mask }} --gateway={{ item.gateway }} --nameserver={{ item.nameserver }} --ipv6=auto --activate

# Use network installation
url --url="http://{{ reposerver }}:{{http_port}}/repos/{{ distro }}"

# Run the Setup Agent on first boot
firstboot --disable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone Europe/London --isUtc

# Root password
rootpw --iscrypted $6$SRBcMlVzw0z9r/9C$NFO8NActAn7wsNVrx7/GROi7PkGBEN7neQlMQhIbpQthzQIjEmFf8KvSPphxS4xM3IEUzN71uhpQXIdg4SMv91 
auth --passalgo=sha512 --useshadow

firewall --enabled --ssh
selinux --enforcing
bootloader --append="rhgb quiet crashkernel=auto"
skipx
reboot

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
